* {
  margin: 0;
}

.logo {
  max-width: 150px;
  margin: 10px 0 10px 30px;
}

h1,
h2 {
  font-family: "Merienda One", cursive;
}

h3,
h4,
body {
  font-family: "Roboto Serif", serif;
}

/* Hidethe links inside the navigation menu (except for logo/home) */
header nav .btn-mobile-menu {
  display: none;
}

header nav label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 51px;
  width: 51px;
  top: 0;
  right: 0;
  padding: 15px;
  transition: transform 0.8s ease;
  margin: 0 10px;
}

header nav label img {
  height: 40px;
  width: 50px;
  color: white;
  background-color: black;
}

header nav .btn-mobile-menu:checked ~ ul {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

header nav .btn-mobile-menu:checked ~ label {
  transform: rotateZ(180deg);
}

header nav ul {
  display: none;
}

header li a {
  text-decoration: none;
  color: #252525;
}

ul {
  font-weight: bold;
  text-align: center;
  list-style: none;
  padding: 0;
}

header nav ul {
  flex-direction: row;
  justify-content: left;
  list-style: none;
  font-weight: bold;
  max-width: 100%;
}

nav ul li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

nav ul li a.active {
  color: black;
  background-color: rgb(218, 218, 218);
  padding: 1rem;
  border-radius: 5px;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: black;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 5px solid white;
}

/* HOME */

.main-cover {
  background-image: url(/images/background.jpg);
  background-size: cover;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-family: "Roboto Serif", serif;
  padding: 5em;
}

section.map {
  display: flex;
  flex-direction: column;
}

section.map iframe {
  height: 500px;
  filter: hue-rotate(211deg) grayscale(0.8);
  border: 0;
}

.iframe {
  display: flex;
  align-items: center;
  max-width: 100%;
  color: lightgray;
}

dialog {
  margin: auto;
  max-width: 70%;
  width: 600px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog #dialog-actions {
  display: flex;
  justify-content: center;
}

dialog button {
  margin-top: 1rem;
}

#dialog-image {
  width: 100%;
}

.cover-pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  opacity: 75%;
  margin: 2rem;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

h4 {
  margin: 2rem;
}

button,
.btn {
  padding: 1rem 2rem;
  background-color: #252525;
  color: white;
  transition: 0.2s ease;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  line-height: 30px;
  height: 60px;
  border: 2rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
}

button:hover,
.btn:hover {
  background: white;
  color: #252525;
}

button[disabled] {
  opacity: 0.3;
  background-color: #252525 !important;
  color: white !important;
}

.cover-picture {
  flex: 1 0 calc(50% - 2em);
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  align-items: center;
  padding: 1rem;
  margin-top: 3rem;
  color: black;
}

.additional-info .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
  padding: 1rem;
}

.additional-info .social-media .fa {
  color: black;
  font-size: 42px;
  text-decoration: none;
}

.address .contact {
  padding: 2rem;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.getintouch {
  background-image: url(/images/logo.png);
  backdrop-filter: opacity(0.5);
  background-size: cover;
  max-width: 100%;
  margin: 5rem 0;
  padding: 0 50px;
}

.message-box form {
  display: flex;
  flex-direction: column;
}

.message-box form small.error {
  color: red;
  display: block;
  margin-bottom: 1rem;
}

.contact-success {
  background-color: lightgreen;
  border: 1px solid green;
  padding: 1rem;
}

.contact-success h3,
.contact-success p {
  color: green;
  margin-bottom: 0.5rem;
}

input,
select,
textarea {
  padding: 0.3rem;
  margin: 0 0 0.5rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: black;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}

section.about-me {
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.about-me p {
  text-align: center;
  padding: 2rem;
}

.about-me img {
  align-items: center;
  max-width: 100%;
}

.topic-post .blog-post-in-list:nth-child(even) {
  background: #eeeeee;
}

.topic-post .blog-post-in-list {
  padding: 50px 0;
}

.topic-post .blog-post-in-list .container {
  max-width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topic-post .blog-post-in-list .container .post-image {
  flex: 0 0 100%;
}

.topic-post .blog-post-in-list img {
  margin: auto;
  width: 300px;
  max-width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
}

.topic-post .blog-post-in-list .container .post-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topic-post .blog-post img {
  float: none;
  width: 18em;
}

.topic-post .blog-post img {
  float: none;
  width: 18em;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carroussel-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 30px 0;
}

.carroussel {
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 55em;
}

.carroussel .carroussel-inner {
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;
}

.carroussel .carroussel-inner .blog-post {
  position: relative;
}

.carroussel .carroussel-inner .blog-post a img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  display: block;
  width: calc(55em / 5 - 0.8em);
  height: 100%;
  object-fit: cover;
}

.carroussel .carroussel-inner .blog-post a .content {
  background: #ffffff94;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(20px);
}

.carroussel .carroussel-inner .blog-post h2 {
  font-size: 16px;
  color: black;
  margin: 0;
}

.carroussel .carroussel-inner .blog-post a .content h1,
.carroussel .carroussel-inner .blog-post a .content h3 {
  margin: 0.35em 0;
}

.carroussel .carroussel-inner .blog-post a .content h1 {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1;
}

.carroussel .carroussel-inner .blog-post a .content h3 {
  color: #ccc;
  font-size: 0.9rem;
  font-weight: 300;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .topic-post .blog-post-in-list .container {
    max-width: 1200px;
    flex-direction: row;
  }

  .topic-post .blog-post-in-list .container .post-image {
    flex: 0 0 300px;
  }

  .topic-post .blog-post-in-list .container img {
    margin: 0;
  }

  .topic-onepost {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .topic-onepost img {
    display: block;
    max-width: 50%;
    margin: auto;
    padding: 2rem;
  }

  .topic-onepost p {
    margin: 0 3rem 0 3rem;
  }

  .about-me .container-left {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 300px;
    align-items: center;
  }

  .about-me img {
    max-width: 100%;
    display: flex;
    margin: auto;
  }
}
/*PC*/

@media screen and (min-width: 1200px) {
  .cover-picture {
    flex: 1 0 calc(25% - 2em);
  }

  ul {
    align-items: center;
  }
  header .logo ul li {
    display: flex;
    justify-content: center;
  }

  .logo {
    max-width: 20%;
  }

  .mainhead {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mainhead a {
    display: flex;
    justify-content: center;
  }

  header {
    margin: auto;
    padding: 0 1rem;
  }

  header .brand {
    flex: 1 1 auto;
  }

  header label {
    display: none;
  }

  header nav .btn-mobile-menu {
    display: none;
  }

  header nav label {
    display: none;
  }

  header nav {
    flex: 1 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 1rem;
    justify-content: center;
  }

  header nav ul li a {
    padding: 0;
    display: block;
    height: 75px;
    line-height: 75px;
  }

  header nav ul li a.active,
  header nav ul li a:hover {
    color: black;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 5px solid white;
  }

  .additional-info .social-media {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .map {
    margin-top: 1em;
  }

  .map button {
    all: unset;
    background: #252525;
    cursor: pointer;
    margin: 0 0.125em;
    position: relative;
    user-select: none;
    border-radius: 100%;
    height: 1em;
    width: 1em;
  }

  .map button.active:after {
    background: #001d38;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 100%;
    height: 0.5em;
    width: 0.5em;
  }
}
